<%- include('../layouts/admin/header.ejs') -%>

        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href=/admin/home class="brand-wrap">
                    <img src="/imgs/theme/Majestic.png" class="logo" alt="Majestic Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/userlist">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Customers</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/product">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Products</span>
                        </a>
        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Categories</span>
                        </a>
                       
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Orders</span>
                        </a>
            
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/coupon">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Coupon</span>
                        </a>
        
                    </li>
                    
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/sales-report">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Sales</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/admin/return-req">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Return Requests</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </aside>
        <main class="main-wrap">
            <%- include('../partials/logout-dark.ejs') -%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Total Revenue</h6>
                                    <span>₹<%= totalRevenue %></span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <span>₹<%= monthlyRevenueValue %></span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Total Orders</h6>
                                    <span><%= orders %></span>
                                    <span class="text-sm"> included all order types </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-3">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Total Products</h6>
                                    <span><%= totalProducts %></span>
                                    <span class="text-sm"> In <%= categoryCount %> Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Total Customers</h6>
                                    <span><%= totalUsers %></span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">COD</h6>
                                    <span><%= codCount %></span>
                                    <span class="text-sm"> included all order types </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Online Payments</h6>
                                    <span><%= razorPayCount %></span>
                                    <span class="text-sm"> In 19 Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Wallet Paymemts</h6>
                                    <span><%= walletPayment %></span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Order Status</h5>
                                <canvas id="myChart"></canvas>
                            </article>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-5">
                                <div class="card mb-4">
                                    
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card mb-4">
                                    
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div
                        class="row"
                        id="gragh"
                        data-monthlyData="<%= JSON.stringify(monthlyData) %>"
                        >
                        <div class="container">
                            <div class="filters">
                            <label for="startDate">select month</label>
                            <input
                                class="btn"
                                style="border: 1px solid black"
                                type="month"
                                id="filter"
                                placeholder="select month"
                            />
                            <button
                                type="button"
                                onclick="return applyFilter();"
                                id="filterButton"
                                class="btn btn-sm btn-dark"
                            >
                                Apply
                            </button> 
                            <button id="removeFilter" style="display: none;" onclick="clearFilter();"  class="btn btn-danger btn-sm">remove</button>
                            </div>
                            <div class="bg-white">
                            <canvas
                                id="monthlySalesChart"
                                width="300"
                                height="150"
                                style="margin: 80px; background-color: white"
                            ></canvas>
                            </div>
                        </div>
                        </div>
                    </div>
                

                <div id="deli" data-delivered="<%= delivered %>"></div>
                <div id="cance" data-cancelled="<%= cancelled %>"></div>
                <div id="plac" data-placed="<%= placed %>"></div>
                <div id="retu" data-returns="<%= returns %>"></div>

                <section>
                    <div class="container mt-5">
                      <h1 class="mb-4">Top 10 Best Selling Products</h1>

                      <div class="row">
                      <%if(topProductsDetails && topProductsDetails.length > 0){%>
                         <% topProductsDetails.forEach((product, i) => { %>
                  
                        <div class="col-md-4 mb-4">
                          <div class="card" style="width: 18rem">
                            <% if (product.variant && product.variant[0] && product.variant[0].images && product.variant[0].images[0]) { %>
                              <img
                                src="/static/img/productImage/sharp/<%= product.variant[0].images[0] %>"
                                style="width: 300px; height: 300px"
                                class="card-img-top"
                                alt="Product 1"
                              />
                            <% } else { %>
                              <p>Image not available</p>
                            <% } %>
                            <div class="card-body">
                              <h5 class="card-title"><%= product.name%></h5>
                              <% if (product.variant && product.variant[0] && product.variant[0].price) { %>
                                <p class="card-text">Price: <%= product.variant[0].price %></p>
                              <% } else { %>
                                <p class="card-text">Price not available</p>
                              <% } %>
                            </div>
                          </div>
                        </div>
                  
                        <% }) %>
                    <%}else{%>
                        <p>no products available</p>
                    <%}%>
                      </div>
                    </div>
                    <!-- Top categories -->
                    <h1 class="mb-4">Top 10 Best Selling Cetagory</h1>

                    <div class="row">
                        <table class="table">
                            <thead class="table-dark">

                                <tr>
                                    <th>Category Name</th>

                                    <th>total Quantity Sold</th>

                                </tr>
                            </thead>
                            <tbody>

                                <%topCategories.forEach((item)=>{%>

                                    <tr>
                                        <td>
                                            <%=item.categoryName%>
                                        </td>
                                        <td>
                                            <%=item.totalQuantitySold%>
                                        </td>
                                        </td>
                                    </tr>

                                    <%})%>

                            </tbody>


                            </tbody>
                        </table>
          
                      <!-- Repeat the above card structure for other products -->
                    </div>
                  </div>
                  </section>


                  <div class="card-body">
                    <h1 class="mb-4">Latest Orders</h1>
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Address</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="text-center" scope="col">Payment Method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% latestOrders.forEach((order) =>{ %>
                                        <tr>
                                            <td><%= order.user.name %></td>
                                            <td><%=order.deliveryDetails.addressline%></td>
                                            <% const formattedDate = order.date.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }); %>
                                            <td><%= formattedDate %></td>
                                            <td><%= order.totalAmount %></td>
                                            <td class="text-center"><%= order.paymentMethod %></td>
                                        </tr>
                                    <%}) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- table-responsive end// -->
                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                              <li class="page-item active">
                                <a class="page-link" href="/admin/home?page=<%=previous%>"><</a>
                              </li>
                              <% for(let j=1; j <= totalPages; j++) { %>
                                <li class="page-item active">
                                  <a class="page-link" href="/admin/home?page=<%=j%>"><%= j %></a>
                                </li>
                              <% } %>
                              <li class="page-item active">
                                <a class="page-link" href="/admin/home?page=<%= next %>">></a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
                  

                
<%- include('../layouts/admin/footer.ejs') -%>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  async function applyFilter() {
    console.log("hiiiii");
    const filter = document.getElementById("filter").value;
    console.log(filter);
    if (filter) {
      const response = await axios.post("/admin/order-filter", {
        data: filter,
      });
      console.log("heloo", response.data);
      document.getElementById('removeFilter').style.display = 'inline-block';
      updateChart(response.data.data, response.data.newData);
    }
  }

  function clearFilter() {
    console.log('hello')
    window.location.reload();
  }
</script>



<script>
  function createMonthArray(year, month) {
    const daysInMonth = new Date(year, month, 0).getDate();
    console.log(daysInMonth);
    const monthArray = Array.from(
      { length: daysInMonth },
      (_, index) => index + 1
    );
    return monthArray;
  }
</script>

<!-- MOnthly sales bar graph -->
<script>
  const data = JSON.parse(
    document.getElementById("gragh").getAttribute("data-monthlyData")
  );
  const labels = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ];
  console.log(labels);
  const ctx = document.getElementById("monthlySalesChart").getContext("2d");

  const monthlySalesChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: "2024",
          data: data,
          backgroundColor: "rgba(75, 192, 192, 0.5)", // Bar color
          borderColor: "rgba(75, 192, 192, 1)", // Border color
          borderWidth: 2, // Border width
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        x: {
          beginAtZero: true,
        },
        y: {
          beginAtZero: true,
        },
      },
      plugins: {
        title: {
          display: true,
          text: "Monthly Sales Overview",
          font: {
            size: 16,
            weight: "bold",
          },
        },
      },
    },
  });

  function updateChart(month, newData) {
    const monthData = month.toString().split("-");
    const day = createMonthArray(monthData[0], monthData[1]);
    // Ensure monthlySalesChart exists before updating
    if (monthlySalesChart) {
      monthlySalesChart.data.labels = day;
      monthlySalesChart.data.datasets[0].data = newData;
      monthlySalesChart.update();
    } else {
      console.error("Chart instance not found. Cannot update.");
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>