<%- include('../layouts/admin/header.ejs') -%>

    <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href=/admin/home class="brand-wrap">
                    <img src="/imgs/theme/Majestic.png" class="logo" alt="Majestic Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/userlist">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Customers</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/product">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Products</span>
                        </a>
        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Categories</span>
                        </a>
                       
                    </li>
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Orders</span>
                        </a>
            
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/coupon">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Coupon</span>
                        </a>
        
                    </li>
                    
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/sales-report">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Sales</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a class="menu-link" href="/admin/return-req">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Return Requests</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-wrap">
            <%- include('../partials/logout-dark.ejs') -%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Orders List</h2>
                        <p>All orders</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <!-- <th scope="col">Status</th> -->
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(order){ %>
                                        <% order.forEach((item,i) =>{ %>
                                            
                                                <tr>
                                                    <td><%=i + 1%></td>
                                                    <td><b><%= item.user.name%></b></td>
                                                    <td><%= item.user.email %></td>
                                                    <td><%= item.totalAmount %></td>
                                                    <!-- <td><span class="badge rounded-pill alert-warning"><%= item.status %></span></td> -->
                                                    <% const formattedDate = item.date.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true }); %>
                                                    <td><%= formattedDate %></td>
                                                    <td class="text-center">
                                                        <a href="/admin/orderdetails?orderId=<%= item._id %>" class="btn btn-md rounded font-sm">More Details</a>
                                                    </td>
                                                </tr>
                                        <% }) %>
                                    <%}else{%>

                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>





<%- include('../layouts/admin/footer.ejs') -%>           