<%- include('../layouts/admin/header.ejs') -%>

 <div class="screen-overlay"></div>
            <aside class="navbar-aside" id="offcanvas_aside">
                <div class="aside-top">
                    <a href=/admin/home class="brand-wrap">
                        <img src="/imgs/theme/Majestic.png" class="logo" alt="Majestic Dashboard" />
                    </a>
                    <div>
                        <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                    </div>
                </div>
                <nav>
                    <ul class="menu-aside">
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/home">
                                <i class="icon material-icons md-home"></i>
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/userlist">
                                <i class="icon material-icons md-shopping_bag"></i>
                                <span class="text">Customers</span>
                            </a>
                        </li>
                        <li class="menu-item active">
                            <a class="menu-link" href="/admin/product">
                                <i class="icon material-icons md-shopping_cart"></i>
                                <span class="text">Products</span>
                            </a>

                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/category">
                                <i class="icon material-icons md-add_box"></i>
                                <span class="text">Categories</span>
                            </a>
                        
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/orders">
                                <i class="icon material-icons md-store"></i>
                                <span class="text">Orders</span>
                            </a>
                
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/coupon">
                                <i class="icon material-icons md-monetization_on"></i>
                                <span class="text">Coupon</span>
                            </a>

                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/banner">
                                <i class="icon material-icons md-person"></i>
                                <span class="text">Banner</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="/admin/sales-report">
                                <i class="icon material-icons md-monetization_on"></i>
                                <span class="text">Sales</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
        <main class="main-wrap">
            <%- include('../partials/logout-dark.ejs') -%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Variant List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <!-- <a href="/admin/addvariant" class="btn btn-dark rounded font-md">Add &NonBreakingSpace; Variants</a> -->
                        <button type="button" class="btn btn-dark rounded font-md" data-bs-toggle="modal" data-bs-target="#addVariantModal">
                            Add Variants
                        </button>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card mb-4">
                        <!-- <header class="card-header">
                            <div class="row align-items-center">
                                <div class="col col-check flex-grow-0">
                                    <div class="form-check ms-2">
                                        <input class="form-check-input" type="checkbox" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                    <select class="form-select">
                                        <option selected>All category</option>
                                        <option>Electronics</option>
                                        <option>Clothes</option>
                                        <option>Automobile</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-2 col-6">
                                    <select class="form-select">
                                        <option selected>Status</option>
                                        <option>Active</option>
                                        <option>Disabled</option>
                                        <option>Show all</option>
                                    </select>
                                </div>
                            </div>
                        </header> -->
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive" id="Reload">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th scope="col">Images</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Stock</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Sizes</th>
                                            <th scope="col" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(product.variant.length > 0){%>
                                        <% product.variant.map((item, i) =>{ %>
                                            <tr>
                                                <td><%= i + 1 %></td>
                                                <td width="30%">
                                                    <a href="#" class="itemside">
                                                        <% for(let i = 0 ; i < item.images.length; i++){ %>
                                                            <div class="left me-2">
                                                                <img src="/assets/img/productImage/original/<%= item.images[i] %>" 
                                                                alt="Userpic" class="img-sm">
                                                            </div>
                                                        <%}%>
                                                    </a>

                                                </td>
                                                <td><%= product.name %></td>
                                                <td><%= item.color %></td>
                                                <td><%= item.quantity %></td>
                                                <td><%= item.price %></td>
                                                <td><%= item.sizes %></td>
                                                <td class="text-center">
                                                    <a class="btn btn-sm btn-dark"  id="button" href="/admin/editvariant?index=<%= i %>&id=<%= product._id %>">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        <%})%>

                                        <%}else{%>
                                            <tr>
                                                <td colspan="5">
                                                    No Variants found
                                                </td>
                                            </tr>
                                        <%}%>

                                    </tbody>
                                </table>
                            <!-- table-responsive //end -->
                        </div>
                  </div>
                </div>
                </div>
             </div>
            </section>
     </main>  
 </div>
 <div class="modal fade" id="addVariantModal" tabindex="-1" aria-labelledby="addVariantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="ad
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/addvariant" method="post" enctype="multipart/form-data" onsubmit="return addVariantValidation()">
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <label for="variant_color" class="form-label">Color</label>
                        <input type="text" name="id" hidden value="<%= product._id %>">
                        <input type="text" placeholder="Type here" class="form-control" id="color" name="color"/>
                    </div>
                    <div class="row gx-2">
                        <div class="col-md-6 mb-3">
                            <label for="variant_quantity" class="form-label">Quantity</label>
                            <input type="number" placeholder="Type here" class="form-control" id="quantity" name="quantity"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="variant_sizes" class="form-label">Sizes</label>
                            <select class="form-control" id="sizes" name="sizes" multiple onmousedown="allowMultipleSelect(this)">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXXL">XXXL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row gx-2">
                        <div class="col-md-6 mb-3">
                            <label for="variant_price" class="form-label">Normal Price</label>
                            <input type="text" placeholder="Type here" class="form-control" id="price" name="price"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="variant_previousPrice" class="form-label">Offer Price</label>
                            <input type="text" placeholder="Type here" class="form-control" id="previousPrice" name="previousPrice"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <label>Variant Images</label>
                        <div class="row">
                            <% for (let i = 1; i <= 4; i++) { %>
                                <div class="col-lg-6 col-md-6 mb-3 rounded-image-preview">
                                    <label for="variant_imageInput<%= i %>" class="image-label">Image
                                        <div class="rounded-image-preview">
                                            <img id="imagePreview2<%= i %>" alt="Preview">
                                        </div>
                                        <input name="images" type="file" accept="image/*" id="image<%= i %>"
                                            class="imageInput" onchange="previewImage2(this, 'imagePreview2<%= i %>')">
                                    </label>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Variant</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

 <%- include('../layouts/admin/footer.ejs') -%>

 
<script>
    function allowMultipleSelect(select) {
        // Disable the default behavior of deselecting options
        if (!event.ctrlKey) {
            event.preventDefault();

            // Toggle the selected state of the clicked option
            const option = document.elementFromPoint(event.clientX, event.clientY);
            if (option.tagName === 'OPTION') {
                option.selected = !option.selected;
            }
        }
    }


    function previewImage(input, imageId) {
        const preview = document.getElementById(imageId);
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = "/assets/images/add Image.jpg";
        }
    }

    function previewImage2(input, imageId) {
        const preview = document.getElementById(imageId);
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = "#";
        }
    }
</script>

<script>
    function addVariantValidation() {
        let color = document.getElementById('color');
        let quantity = document.getElementById('quantity');
        let sizesSelect = document.getElementById('sizes');
        let price = document.getElementById('price');
        let previousPrice = document.getElementById('previousPrice');
        let imageInputs = document.querySelectorAll('.imageInput');

        if (color.value.trim() === '') {
            showErrorAlert('Color is required.');
            return false;
        } else if (quantity.value.trim() === '' || Number(quantity.value) <= 0 || isNaN(quantity.value)) {
            showErrorAlert('Invalid Quantity. Please enter a valid quantity.');
            return false;
        } else if (sizesSelect.selectedOptions.length === 0) {
            showErrorAlert('At least one size must be selected.');
            return false;
        } else if (price.value.trim() === '' || Number(price.value) <= 0 || isNaN(price.value)) {
            showErrorAlert('Invalid OfferPrice. Please enter a valid amount.');
            return false;
        } else if (previousPrice.value.trim() === '' || Number(previousPrice.value) <= 0 || isNaN(previousPrice.value)) {
            showErrorAlert('Invalid Normal Price. Please enter a valid amount.');
            return false;
        } else if (Number(previousPrice.value) <= Number(price.value)) {
            showErrorAlert('offer Price must be less than the Normal Price.');
            return false;
        } else if (!checkAllImagesSelected(imageInputs)) {
            showErrorAlert('At least one image must be selected.');
            return false;
        } else {
            return true;
        }

        function showErrorAlert(message) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: message,
            });
            setTimeout(() => {
                Swal.close();
            }, 3000);
        }

        function checkAllImagesSelected(inputs) {
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].files.length === 0) {
                return false;
            }
        }
        return true;
    }
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>