
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <script src="https://kit.fontawesome.com/7669beee6a.js" crossorigin="anonymous"></script>

    <!-- 
        
        Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/Majestic-white.png" />
    <style>
        a{
                text-decoration: none;
                color: black; /* Set the desired color */

        }  
        a:hover 
        {
            text-decoration: none;
            color: black; /* Set the same color as the default or a different one */
        }
        /* Remove default link styles */

        /* Style links on hover */
        a:hover {
        color: your-desired-hover-color;
        }

        /* Optional: Remove the underline on hover */
        a:hover {
        text-decoration: none;
        }
    </style>


    <style>
        .goto {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: url('/assets/3385483.webp') center/cover no-repeat;
            background-size: 700px 600px;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
          }
      
          .shop-container {
            background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
            padding: 20px;
            border-radius: 10px;
            text-align: center;
          }
      
          button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff; /* Bootstrap primary color */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
      
          button:hover {
            background-color: #0056b3; /* Darker shade for hover effect */
          }
      </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span></span></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/wishlish/"><i class="fa-regular fa-heart fa-lg"></i></a>
                        <a href="/cart/"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        <%if(locals.user){%>
                            <a href="/profile/"><i class="fa-regular fa-user fa-lg"></i></a>
                            <a href="/logout" class="btn btn-dark">Logout</a>
                        <%} else {%>
                            <a href="/login" class="btn btn-dark">Login</a>
                        <%}%>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop/">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad" id="reloadDiv">

        <%if(products && products.length > 0) {%>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table" id="Reload">
                        <table>
                            <thead>
                                <tr>
                                    <th>image</th>
                                  
                                    <th class="text-center" style="width: 25%;">Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                
                                   <% let totalAmount = 0%>
                                   <% let total = 0%>
                                   <% let items = 0%>
                                <%products.forEach((item, i) => {%>

                                   
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">

                                            <img class="" style="width: 100px; height: 100px;" src="/static/img/productImage/sharp/<%= item.productId.variant[item.product].images[0] %>" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6 style="font-size: 12px;"><%= item.productId.name %></h6>
                                            <h5 style="font-size: 15px;">₹<%= item.price %></h5>
                                             
                                            <% const match = [['S', 'Small'], ['M', 'Medium'], ['L', "Large"], ['XL', 'Exel'], ['XXL', 'Double exel']]%>
                                            <% const size = match.find((size) => (size[0] === item.size)) %>
                                            <% if (size) { %>
                                                <span>Size: <%= size[1] %></span>
                                            <% } else { %>
                                                <span>Size not available</span>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <!-- <div class="quantity">
                                            <div class="pro-qty-2" id="newID">
                                                <span class="fa fa-angle-left   counter"></span>
                                                <input type="text" id="ctn" value="<%= item.quantity%>" data-productId="<%= item.productId._id%>" data-size="<%= item.size%>" readonly data-index="<%= item.product%>">
                                                <span class="fa fa-angle-right  counter"></span>
                                            </div>
                                        </div> -->
                                        <div class="cart-product-quantity ml-3" style="display: flex; align-items: center;">
                                            <button class="quantity-control" type="button" onclick="IncDecValue('<%= item.productId._id %>', -1,'<%= item.product%>','<%= item.size%>','<%= item.quantity%>')" style="background-color: transparent;color: black;">
                                                <span class="fa fa-angle-left   counter"></span>
                                            </button>
                                            
                                            <input type="number" class="form-control" value="<%= item.quantity %>" min="1" max="10"
                                                step="1" data-decimals="0" disabled required style="text-align: start; width: 50px;">
                                            
                                            <button class="quantity-control" type="button" onclick="IncDecValue('<%= item.productId._id %>', 1,'<%= item.product%>','<%= item.size%>','<%= item.quantity%>')" style="background-color: transparent; color: black;">
                                                <span class="fa fa-angle-right  counter"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <%total += (item.productId.variant[item.product].price * item.quantity)%>
                                    <% items += item.quantity%>
                                    <%totalAmount += item.totalPrice%>
                                    <td class="cart__price" id="subPrice">₹<%= item.totalPrice%></td>
                                   
                                    <td class="cart__close" onclick="remove_from_cart('<%= item.productId._id%>','<%= item.product%>')"><i class="fa fa-close"></i></td>
                                </tr>

                                <%})%>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a class="btn btn-outline-dark" href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total" id="price">
                        <h6>Cart total</h6>
                        <ul>
            
                            <li>Price (<%= items %> <%= items > 1? "items" : "item"%>)<span style="color: black;">₹<%= total%></span></li>
                            <li>Discount <span style="color: green;">-₹<%= total - totalAmount%></span></li>

                            <!-- <%if(totalAmount > 1000) {%>

                                <li>Delivery Charges<span style="color: green;"><del style="color: black;">₹80</del> Free</span></li>
                        
                            <%} else{%>

                                <li>Delivery Charges<span style="color: black;">₹60</span></li>

                            <%}%> -->
                            
                            <li style="font-size: larger; font-weight: 800;">Total <span style="color: black;">₹<%= totalAmount%></span></li>
                        </ul>
                        <button type="button" id="btn" data-session="<%= logedIn %>" onclick="proccedTOCheckOut()" class="primary-btn">Proceed to checkout</button>
                    </div>
                </div>
            </div>
        </div>


        
    <%} else {%>
       

        <div style="display: flex; justify-content: center; align-items: center; height: 30rem;">
            <div style="text-align: center;">
                <img src="/assets/img/emptycart.webp" alt="Empty Cart Image" style="width: 150px; height: 150px; margin-bottom: 20px;">
                <p style="font-size: 1.5rem; color: #555;">Your cart is currently empty.</p>
                <% if(!locals.user){ %>
                    <a href="/login" class="primary-btn">Login</a>
                <%}%>
                <a href="/shop" class="btn btn-outline-dark btn-lg">Explore Our Shop</a>
            </div>
        </div>

    <%}%>
 </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/static/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="/">Mishal</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <%- include('../layouts/user/footer1.ejs') -%>


    <script>
        function remove_from_cart(productId, index) {
   
           console.log(productId, index)
            const data = {productId: productId, index: index}
            console.log(data)
          try {
   
            Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to remove the product from your cart.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked "Yes"
                $.ajax({
                    type: 'POST',
                    url: '/removeFromCart',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: (response) => {
                        if (response.removed) {
                            // Reload cart content
                            $('#Reload').load('/cart #Reload');
                            $('#price').load('/cart #price');
                            $('#ReloadArea').load('/cart #ReloadArea');

                            // Show success alert
                            Swal.fire({
                                title: 'Product Removed!',
                                text: 'The product has been removed from your cart.',
                                icon: 'success',
                                showConfirmButton: true,
                                confirmButtonText: 'OK',
                            });
                        }
                    }
                });
            }
        });
           
          } catch (error) {
           console.log(error)
          }
   
        }
   </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Include jQuery before using it -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    function IncDecValue(productId,count,index,size,quantity){
      const data = {productId,count,index,size,quantity}
      $.ajax({
        url:'/updateQuantity',
        method:'POST',
        data:JSON.stringify(data),
        contentType:'application/json',
        success:function(response){
      if(response.success){
        $('#reloadDiv').load('/cart #reloadDiv')
      }else if(response.min){
        Swal.fire({
          icon:'warning',
          text:'minimum stock reached'
        })
      }else if(response.max){
        Swal.fire({
          icon:'warning',
          text:'maximumu stock reached'
        })
      }else{

      }
    }
      })
    }
    </script>