<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">


    <style>
        #panelsStayOpen-collapseOne {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span></span></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span></span></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

      <!-- Checkout Section Begin -->
       <section class="checkout spad">
            <div class="container">
                <div class="row ">
                    <!-- Address Accordion -->
                    <div class="col-lg-4 mx-auto mb-4">
                        <div class="accordion" id="accordionAddress">
                            
                            <!-- Address Select Accordion -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button"
                                        style="background-color: #111111 !important; color: #f3f2ee; border-color: none !important;" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        SELECT ADDRESS
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body" style="background-color: #f3f2ee;">
                                        <!-- Address Content -->
                                        <div class="row" style="max-height: 300px; overflow-y: auto;">

                                            <% if (address) { %>
                                                <% address.forEach((el, i) => { %>
                                                    <!-- Your address card code here -->
                                                        <div class="card text-center mb-3"
                                                            style="width: 18rem; margin-left: 2rem;">
        
                                                            <div class="card-body" >
                                                                <h5 class="card-title"
                                                                    style="color: #111111; font-weight: 800;">Address <%= i +
                                                                        1%>
                                                                </h5>
                                                                <address>
                                                                    <p style="text-align: left; margin: 0;">
        
                                                                        <span style="font-weight: bold;">Name:</span>
                                                                        <%= el.name %><br>
        
                                                                                <span style="font-weight: bold;">House
                                                                                    Name:</span>
                                                                                <%= el.address %><br>
                                                                                    <span
                                                                                        style="font-weight: bold;">State:</span>
                                                                                    <%= el.state %><br>
                                                                                        <span
                                                                                            style="font-weight: bold;">City:</span>
                                                                                        <%= el.city %><br>
                                                                                            <span
                                                                                                style="font-weight: bold;">Pincode:</span>
                                                                                            <%= el.pincode %><br>
                                                                                                <span
                                                                                                    style="font-weight: bold;">Phone:</span>
                                                                                                <%= el.phone %><br>
                                                                                                    <span
                                                                                                        style="font-weight: bold;">Email:</span>
                                                                                                    <%= user.email %><br>
                                                                         </p>
                                                                </address>
                                                                
                                                                <div class="" role="group" aria-label="Basic radio toggle button group">
                                                                    <input type="radio" class="btn-check" value="<%= i %>" name="address" id="btnradio<%= i + 1%>" autocomplete="off">
                                                                    <label class="btn btn-outline-dark px-4"  for="btnradio<%= i + 1%>">Select</label>
                                                                  </div>
                                                            </div>
                                                        </div>
                                            <% }) %>
                                           <% } else { %>
                                                <!-- No address found message -->
                                                <div class="d-flex flex-column align-items-center">
                                                    <img src="\img\noAddress..jpeg" alt="No address found" style="max-width: 150px; margin-bottom: 10px;">
                                                    <p style="font-size: 18px; font-weight: bold; color: #333; margin-bottom: 2px;">No address found</p>
                                                    <span style="color: #555; margin-bottom: 2rem;">Please add new address</span>
                                                </div>
                                            <% } %>
                                        </div>
                                        <!-- Address Add Button -->
                                        <div class="text-center mr-4">
                                            <button class="btn" data-bs-toggle="modal" data-bs-target="#addVariantModal" data-bs-whatever="@mdo"
                                            style="background-color: #111111; color: #f3f2ee;" type="button">ADD NEW ADDRESS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        

                    <div class="col-lg-4 mx-auto mb-4">
                        <!-- Coupon Apply Section -->
                        <div class="cart__discount" style="margin-bottom: 30px !important;">
                            <h6>Discount codes</h6>
                           <div class="d-flex">
                            <input type="text" class="form-control" id="applyCoupon" placeholder="Coupon code">
                            <button type="button" class="btn btn-dark" onclick="return applyCoupon();">Apply</button>
                           </div>
                        </div>
        
                        <!-- Your Orders Section -->
                        <div class="checkout__order mt-4">
                            <h4 class="order__title" style="border-bottom: none;">Your order</h4>
                            <!-- Your order content here -->
                            <% let subtotal = 0, totalItem = 0 %>
                            <% products.forEach((product, index) => { %>
                                <% subtotal += product.totalPrice %>
                                <% totalItem += product.quantity %>
                            <% }) %>
                            <ul class="checkout__total__all">
                                <li>Price (<%= totalItem %> <%= totalItem > 1 ? "items" : "item" %>)<span style="color: #111111;">₹<%= subtotal %></span></li>
                                <!-- <% if (subtotal > 1000) { %>
                                    <li>Delivery Charges<span style="color: green;"><del style="color: black;">₹80</del> Free</span></li>
                                <% } else { %>
                                    <li>Delivery Charges<span style="color: black;">₹80</span></li>
                                <% } %> -->
                                <li style="font-weight: 600;" id="subtotal">Amount payable<span id="discountedAmount" style="color: #111111;">₹<%= subtotal %></span></li>
                            </ul>
                           <%if(totalMoney < 1000){%>
                            <ul class="checkout__payment__all">
                                <li>
                                  <div class="checkout__input__checkbox">
                                    <label for="wallet">
                                      Wallet
                                      <input type="radio" id="wallet" name="payment_method" value="Wallet" />
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="checkout__input__checkbox">
                                    <label for="Razorpay">
                                      RazorPay
                                      <input type="radio" id="Razorpay" name="payment_method" value="Razorpay" />
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="checkout__input__checkbox">
                                        <label for="cod1">
                                            Cash on delivery
                                            <input type="radio" id="cod1" name="payment_method" value="COD" />
                                            <span class="checkmark"></span>
                                        </label>
                                  </div>
                                </li>
                            </ul>
                           <%}else{%>
                            <ul class="checkout__payment__all">
                                <li>
                                  <div class="checkout__input__checkbox">
                                    <label for="wallet">
                                      Wallet
                                      <input type="radio" id="wallet" name="payment_method" value="Wallet" />
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="checkout__input__checkbox">
                                    <label for="Razorpay">
                                      RazorPay
                                      <input type="radio" id="Razorpay" name="payment_method" value="Razorpay" />
                                      <span class="checkmark"></span>
                                    </label>
                                  </div>
                                </li>
                            </ul>
                           <%}%>
                            <input type="text" id="total" hidden value="<%=subtotal%>">
                            <button type="button" id="place-order" onclick="placeOrder('<%= subtotal %>')" class="site-btn" data-subtotal="<%= subtotal%>"  data-productPrice="">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
        
                <!-- Order Summary -->
                <!-- <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <!-- Your order content here -->
                        <!-- </div>
                    </div>
                </div>
            </div> -->
        
         
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/static/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="/">Mishal</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <div class="modal fade" id="addVariantModal" tabindex="-1" aria-labelledby="addVariantModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="addVariantModalLabel">Add address</h5>
                </div>
                <form method="post" id="#reloadArea" action="/add-address">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="full-name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="full-name" placeholder="Full Name" name="fullName" required>
                        </div>
                
                        <div class="form-group">
                            <label for="address-line1" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address-line1" placeholder="Address Line 1" name="addressLine" required>
                        </div>
                
                        <div class="form-group">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
                        </div>
    
                        <div class="form-group">
                            <label for="city" class="form-label">State</label>
                            <select class="form-control" id="state" name="state" required>
                                <option value="" selected disabled>Select State</option>
                               
                                <option value="Kerala">Kerala</option>
                                <option value="Tamilnadu">Tamilnadu</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Maharashtra">Maharashtra</option>
                              </select>
                        </div>
                
                        <div class="form-group">
                            <label for="postcode" class="form-label">Pincode</label>
                            <input type="text" class="form-control" id="postcode" placeholder="Postcode" name="postcode" required>
                        </div>
                
                        <div class="form-group">
                            <label for="mobile-number" class="form-label">Mobile</label>
                            <input type="tel" class="form-control" id="mobile-number" placeholder="Mobile Number" name="phone" required>
                        </div>
                    </div>
                
                    <div class="modal-footer align-items-center">
                        <button type="submit" class="btn btn-dark" onclick="addAddress(event)">Add Address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<%- include('../layouts/user/footer1.ejs') -%>

<script>

    function trimvalue(elementId) {

    return document.getElementById(elementId).value.trim()

  }

  function validInput() {
    const fields = [
      'full-name',
      'address-line1',
      'city',
      'state',
      'postcode',
      'mobile-number'
    ];

    for (let fieldId of fields) {
      const value = trimvalue(fieldId)
      if (value === '') {
        Swal.fire({
          title: 'error',
          text: `please enter ${value === 'postcode' ? 'a valid' : 'a '} ${fieldId.replace(/([A-z])/g, ' $1').toLowerCase()}`,
          icon: 'error'
        })
        return false
      }

      if (fieldId == 'mobile-number' && value.length !== 10) {
        Swal.fire({
          title: 'error',
          text: 'Please enter a 10-digit phone number containing only numeric characters.',
          icon: 'error'
        });
        return false;
      }

      if (fieldId === 'postcode' && !/^\d{6}$/.test(value) || value == '') {
        Swal.fire({
          title: 'error',
          text: "please enter a valid 6-digit postcode",
          icon: 'error'
        })
        return false
      }

      if (fieldId === 'city' && value == '') {
        Swal.fire({
          title: 'error',
          text: "Enter your city",
          icon: 'error'
        })
        return false
      }

      // if (fieldId === 'state' && value == '') {
      //   Swal.fire({
      //     title: 'error',
      //     text: "Enter your state",
      //     icon: 'error'
      //   })
      //   return false
      // }

    }
    return true

    // ===================== FUNCTION ADD ADDRESS 

  }


    function addAddress(event) 
    {
        event.preventDefault()
            const fields = [
                { id: 'full-name', name: 'Full Name' },
                { id: 'address-line1', name: 'Address Line 1' },
                { id: 'city', name: 'City' },
                { id: 'state', name: 'State' },
                { id: 'postcode', name: 'Postcode' },
                { id: 'mobile-number', name: 'Mobile Number'}
            ];

            
            const fullName = document.getElementById('full-name').value;
            const addressLine = document.getElementById('address-line1').value;
            const city = document.getElementById('city').value;
            const state = document.getElementById('state').value;
            const postcode = document.getElementById('postcode').value;
            const  phone = document.getElementById('mobile-number').value;
            
            const data = {
            fullName:fullName,
            addressLine:addressLine,
            city:city,
            state:state,
            postcode:postcode,
            phone:phone,
            }
            console.log(data);{
            if(validInput())
        Swal.fire({
        title: 'Are you sure?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!',
        }).then((res) => {
        if (res.isConfirmed) {
            $.ajax({
            method: 'POST',
            url: '/add-address',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                if (response.add ===  true) {
                Swal.fire({
                    icon:'success',
                    text:'Success'
                }).then(()=>{
                    $('#reloadArea').load('/add-address #reloadArea')
                    location.reload()
                    clearInputValues();
                })
                
            $('#addVariantModal').modal('hide');
                
                } else {
                
                Swal.fire({
                        icon: 'error',
                    
                        text: 'Failed to edit profile. something went  wrong',
                }).then(()=>{
                    $('#reloadArea').load('/add-address #reloadArea');
                    location.reload()
                })
                }
            },
            error: function (error) {
                console.error(error);
            },
            });
        }
        });
    }
      
    }


    function placeOrder(total) {
        try {

            const radioBtn = document.querySelector('input[name="address"]:checked');
            const  index = radioBtn ? radioBtn.value : null;
            if(index) {
                
                const payment = document.querySelector('input[name="payment_method"]:checked');
                const paymet_method = payment ? payment.value : null;

                if(paymet_method) {
                    const total = document.getElementById('place-order').getAttribute('data-subtotal')
                    const isCouponApplied = document.getElementById('place-order').getAttribute('data-couponApplied');
                    console.log(isCouponApplied)
                    const value = isCouponApplied ? document.getElementById('place-order').getAttribute('data-couponCode') : false;
                    const subtotal = total;
                if(subtotal) {

                    const data = {
                        index: index,
                        payment_method: paymet_method,
                        subtotal: subtotal,
                        isCoupon : value
                    }
                    console.log(data)
                    $.ajax({
                        type: 'POST',
                        url: '/place-order',
                        data: JSON.stringify(data),
                        contentType: 'application/JSON',
                        success: (response) =>
                        {
                            if(response.success) 
                            {
                                location.href = '/successpage';
                            }
                            else if(response.order)
                            {
                                razorPay(response.order);
                            }
                            else
                            {
                                console.log("money error");
                            }
                        }

                    })

                } else {
                    console.log('total amount not recived...');
                }

                } else {
                    console.log('please select payment method')
                    Swal.fire(
                        {
                            title : "select a payment method",
                            text : "please select a payment method !",
                            icon : "warning",
                            showConfirmButton : false,
                            timer : 1500
                        }
                    )
                }

                

            } else {
                console.log('please select address');
                Swal.fire(
                    {
                        title : "select an address",
                        text : "please select an address !",
                        icon : "warning",
                        showConfirmButton : false,
                        timer : 1500
                    }
                )
            }

           
        } catch (error) {
            console.log(error);
        }
    }


    function razorPay(order)
    {
        try
        {
            console.log("inside razor pay fn",order);

            
            var options = 
            {
                "key": "rzp_test_EVAgzuOOSxsbao", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Majestic", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": (response) =>
                {
                    verifyPayment(response , order);
                },
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                    "name": "mohd mishal", //your customer's name
                    "email": "mohdmishal18@gmail.com", 
                    "contact": "9947865508"  //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Majestic"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', (err) => {
                console.log(err);

                res.json({ fail: true, message: "Payment failed" });
            })
            rzp1.open();

        }
        catch(error)
        {
            console.log(error);
        }
    }

    function verifyPayment(payment , order)
    {
        $.ajax(
            {
                type : 'POST',
                url : '/verifyPayment',
                data : 
                {
                    payment : payment,
                    order : order
                },
                success : (response) =>
                {
                    if(response.payment_successful)
                    {
                        window.location.href = '/successpage'
                    }
                    else
                    {
                        Swal.fire(
                            {
                                position : "center",
                                icon : "error",
                                status : "payment failed",
                                showConfirmButton : false,
                                timer : 1500
                            }
                        );
                    }
                }
            }
        );
    }
</script>

<script>
    function applyCoupon()
    {
        const couponCode = document.getElementById('applyCoupon').value;
        const total = document.getElementById('total').value;

        if(couponCode)
        {

            document.getElementById('place-order').setAttribute('data-couponCode',`${couponCode}`)
            const data = {couponCode : couponCode,total : total}
            $.ajax({
                type : "POST",
                url : "/coupon-check",
                data : JSON.stringify(data),
                contentType : 'application/json',
                success : (response) =>
                {
                    if(response.used)
                    {
                        fireSwal(response.message);
                    }
                    else if(response.limit)
                    {
                        fireSwal(response.message)
                    }
                    else if(response.expired)
                    {
                        fireSwal(response.message)
                    }
                    else if(response.min)
                    {
                        fireSwal(response.message)
                    }
                    else if(response.notAvailable)
                    {
                        fireSwal(response.message)
                    }
                    else if(response.success)
                    {
                        document.getElementById('place-order').setAttribute('data-subtotal', `${response.subtotal}`);
                        document.getElementById('discountedAmount').innerText = `₹${response.subtotal}`
                        document.getElementById('place-order').setAttribute('data-couponApplied', '1')
                        Swal.fire({
                            position : "center",
                            icon : 'success',
                            title : 'Coupon applied',
                            timer : 1500         
                        })
                    }
                }
            })
        }
        else
        {
            console.log("no coupon code");
            Swal.fire({
                position : 'center',
                icon : "error",
                title : "Please enter a coupon Code !!!",
                timer : 1500
            })
        }
    }
</script>

<script>
    function fireSwal(text) {

        Swal.fire({
            positon: "center",
            icon: "error",
            title: `${text}`,
            showConfirmButton: false,
            timer: 1500,
        });

    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>