<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAJESTIC</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    
    rel="stylesheet">

    <!-- 
        
        Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/Majestic-white.png" />

    <script src="https://kit.fontawesome.com/7669beee6a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

</head>

<body>

<style>
    body{margin-top:20px;
background:#eee;
}

.invoice {
    padding: 30px;
}

 /* Add the following styles for centering the container */
 .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
.invoice h2 {
	margin-top: 0px;
	line-height: 0.8em;
}

.invoice .small {
	font-weight: 300;
}

.invoice hr {
	margin-top: 10px;
	border-color: #ddd;
}

.invoice .table tr.line {
	border-bottom: 1px solid #ccc;
}

.invoice .table td {
	border: none;
}

.invoice .identity {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 300;
}

.invoice .identity strong {
	font-weight: 600;
}


.grid {
    position: relative;
	width: 100%;
	background: #fff;
	color: #666666;
	border-radius: 2px;
	margin-bottom: 25px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
</style>
    <div class="container center-container" id="invoice-container">
        <div class="row">
                            <!-- BEGIN INVOICE -->
                            <div class="col-xs-12">
                                <div class="grid invoice">
                                    <div class="grid-body">
                                        <div class="invoice-title">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img src="http://vergo-kertas.herokuapp.com/assets/img/logo.png" alt="" height="35">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <h2>invoice<br><br>
                                                    <span class="small">Order Id :  <%= orders._id%></span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <address>
                                                    <strong>Billed To:</strong><br>
                                                    Majestic E-commerce<br>
                                                    Banglore,India,7845434<br>
                                                    Email : majesticshop121@gmail.com<br>
                                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890
                                                </address>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <address>
                                                    <strong>Shipped To:</strong><br>
                                                    <%=deliveryAddress.name%><br>
                                                    <%= deliveryAddress.city %><br>
                                                    <%= deliveryAddress.state %><br>
                                                    <abbr title="Phone">Phone : </abbr> <%= deliveryAddress.phone%>
                                                </address>
                                            </div>
                                        </div>
                    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <address>
                                                    <strong>Payment Method:</strong><br>
                                                    <% if(orders.paymentMethod === 'COD'){%>
                                                        <P>Cash On Delivery</p>
                                                    <%}else{%>
                                                        <p><%=orders.paymentMethod%></p>
                                                    <%}%>
                                                </address>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <address>
                                                    <strong>Order Date:</strong><br>
                                                    <%=orders.date%>
                                                </address>
                                            </div>
                                        </div>
                    
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>ORDER SUMMARY</h3>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr class="line">
                                                            <td><strong>#</strong></td>
                                                            <td class="text-center"><strong>Product</strong></td>
                                                            <td class="text-center"><strong>Quantity</strong></td>
                                                            <td class="text-right"><strong>Rate</strong></td>
                                                            <td class="text-right"><strong>SUBTOTAL</strong></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td><%= order.productId.name %> </td>
                                                            <td class="text-center"><%= order.quantity %></td>
                                                            <td class="text-center"><%= order.price%></td>
                                                            <td class="text-right">₹<%=order.price * order.quantity%></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                            </td><td class="text-right"><strong>Total Amount</strong></td>
                                                            <td class="text-right"><strong>₹<%=order.totalPrice%></strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>									
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-right identity">
                                                <p>Majestic E-commerce<br><strong>Thank You For Shopping :)</strong></p>
                                            </div>
                                        </div>
                                        <div class="row" id="hide">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-primary" onclick="downloadPDF()">Download Invoice</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- END INVOICE -->
                        </div>
        </div>
   </div>

        
<%- include('../layouts/user/footer1.ejs') -%>



<script>
    let hide = document.getElementById('hide')
    function downloadPDF(){
        hideDownloadButton()
        window.print()
        showDownloadButton()
    }
    function  hideDownloadButton(){
        hide.style.display = 'none'
    }
    function showDownloadButton(){
        hide.style.display = 'inline-block'
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>