<%- include('../layouts/user/header1.ejs') -%>

<style>
     .fa-ellipsis-v {
      font-size: 10px;
      color: #C2C2C4;
      margin-top: 6px;
      cursor: pointer;
    }

    .text-dark {
      font-weight: bold;
      margin-top: 8px;
      font-size: 13px;
      letter-spacing: 0.5px;
    }

    .card-bottom {
      background: #3E454D;
      border-radius: 6px;
    }

    .flex-column p {
      letter-spacing: 1px;
      font-size: 18px;
    }

    .btn-secondary {
      height: 40px !important;
      margin-top: 3px;
    }

    .btn-secondary:focus {
      box-shadow: none;
    }
</style>
   

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Majestic</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/profile">User Profile</a>
                        <span>Address</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container-fluid ">
  <div class="main-body">
      <div class="row">
          <div class="col-md-3 mb-3">
              <div class="card">
                  <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                              class="rounded-circle" width="150">
                          <div class="mt-3">
                              <h4><%= locals.user.name %></h4>
                              <p class="text-muted font-size-sm"><%= locals.user.email %></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card mt-3">
                  <div class="user-headerrr">
                      <div class="menu-itemmm"><h>Profile</h3></div><hr>
                    </div>
              
                    <!-- Sidebar Menu -->
                
                    <div class="menu-itemmm" ><a href="/address">Manage Address</a></div><hr>
                    <div class="menu-itemmm" ><a href="/orders">Orders</a></div><hr>
                    <!-- <div class="menu-itemmm"><a href="/wishlist">Wishlist</a></div><hr> -->
                    <div class="menu-itemmm"><a href="/mywallet">Wallet</a></div><hr>
                    <div class="menu-itemmm"><a href="/mycoupons">MyCoupons</a></div><hr>
                    <!-- <div class="menu-itemmm" ><a href="#">Report a Bug</a></div><hr> -->
                    <div class="menu-itemmm" ><a  href="/signout" >Logout</a></div><hr>
                    
              </div>
          </div>
            <div class="col-md-9">
                <!-- Wallet Section -->
                <div id="edit-profile-section " style="display: block;">
                    <div class="mt-5">
                      <h1 class="">Your Wallet</h1>
  
                      <div class="table-responsive">
                        <div class="d-flex ">
                          <div class="card p-3">
                            <div class="card-bottom pt-3 px-3 mb-2">
                              <div class="d-flex flex-row justify-content-between text-align-center">
                                <div class="d-flex flex-column" style="color: #adb5bd; font-size: 13px;">
                                  <span>Balance amount</span>
                                  <p><span style="color: white;">₹</span> <span class="text-white">
                                      <%=balance%>
                                    </span></p>
                                </div>
                              </div>
                            </div>
                            <div class="new-div">
                              <div class="car">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Transaction History</h4>
                                  <hr>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Reason</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% history.forEach((history)=> { %>
                                        <tr>
                                          <% const formattedDate=new Date(history.date); %>
                                            <td>
                                              <%= formattedDate.toLocaleDateString('en-US') %>
                                            </td>
                                            <td>₹ <%= history.amount %>
                                            </td>
                                            <td><%= history.type %></td>
                                            <td>
                                              <%= history.reason %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                  </table>
                                  <button class="btn text-white w-100" style="background-color: #3E454D"></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>













            <%- include('../layouts/user/footer1.ejs') -%>         