<%- include('../layouts/user/header1.ejs') -%>

 <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            
        }

        .status-checkboxes {
            margin-top: .5rem;

        }

        .status-checkboxes .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        .status-checkboxes .form-check-input {
            margin-top: 0;
            margin-right: 5px;
            /* Adjust spacing between checkbox and label */
        }

        .status-checkboxes .form-check-label {
            margin-bottom: 0;
        }
        
    </style>
    <style>
        .text-right-cell {
            text-align: right;
        }
    </style>
    

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Majestic</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/profile">User Profile</a>
                        <a href="/address">address</a>
                        <span>orders</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container-fluid ">
    <div class="main-body">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4><%= locals.user.name %></h4>
                                <p class="text-muted font-size-sm"><%= locals.user.email %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="user-headerrr">
                        <div class="menu-itemmm"><h>Profile</h3></div><hr>
                      </div>
                
                      <!-- Sidebar Menu -->
                  
                      <div class="menu-itemmm" ><a href="/address">Manage Address</a></div><hr>
                      <div class="menu-itemmm" ><a href="/orders">Orders</a></div><hr>
                      <!-- <div class="menu-itemmm"><a href="/wishlist">Wishlist</a></div><hr> -->
                      <div class="menu-itemmm"><a href="/mywallet">Wallet</a></div><hr>
                      <div class="menu-itemmm"><a href="/mycoupons">MyCoupons</a></div><hr>
                      <!-- <div class="menu-itemmm" ><a href="#">Report a Bug</a></div><hr> -->
                      <div class="menu-itemmm" ><a  href="/signout" >Logout</a></div><hr>
                      
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" style="background-color: rgb(244, 238, 231);">
                    <div class="col-md-6">
                        <div class=""><span class=""><strong>Delivery Address</strong></span></div>
                        <div class="">
                            <div class="">
                                <div class="">
                                    Name : <%= myOrder.deliveryDetails.name%>
                                </div>
                            </div>
                            <div class="">
                                Email : <%= user.email%>
                            </div>
                            <div class="">
                                AddressLine : <%=  myOrder.deliveryDetails.pincode%>
                            </div>
                            <div class="">
                                Pincode : <%=  myOrder.deliveryDetails.addressline%>
                            </div>
                            <div class="">
                                <div><span class="">phone Number</span>
                                    <div class="">
                                    Phone :  <%=  myOrder.deliveryDetails.phone%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <% const deliveredProducts = invoiceProducts(myOrder) %>
                        <%if(deliveredProducts.length > 0){%>
                            <a class="btn btn-lg btn-primary mt-5" href="/invoice?orderId=<%= orderId%>">
                                Download Invoice
                            </a>
                        <%}%>
                        <div>

                        </div>
                    </div>
                </div> 
                <div class="row" style="background-color: rgb(244, 238, 231);">
                    <div class="col-lg-12">
                        <div class="table-responsive mt-5">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Index</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">SubTotal</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-center">Action</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <% myOrder.products.forEach((el, i) => { %>
                                        <tr>
                                            <td>
                                                <%= i + 1 %>
                                            </td>
                                            <td>
                                                <b>
                                                    <img src="/static/img/productImage/sharp/<%= el.productId.variant[el.product].images[0]%>"
                                                        alt="" style="width: 80px; height: 80px;">
                                                </b>
                                            </td>
                                            <td>
                                                <%if(el.status === 'canceled' || el.status === 'returned'){%>
                                                    <del><%= el.productId.name%></del>
                                                <%}else{%>
                                                    <%= el.productId.name%>
                                                <%}%>
                                            </td>
                                            <td>
                                                <%= el.size %>
                                            </td>
                                            <td>
                                                <%= el.price %>
                                            </td>
                                            <td>
                                                <%= el.quantity %>
                                            </td>
                                            <td>
                                                <%if(el.status === 'canceled' || el.status === 'returned'){%>
                                                    <del><%= el.totalPrice%></del>
                                                <%}else{%>
                                                    <%= el.totalPrice%>
                                                <%}%>
                                            </td>
                                            <td>
                                                <% if (myOrder.status === 'pending') { %>
                                                    <span class=" " style="font-weight: 900;">
                                                        Payment Pending...
                                                    </span>
                                                <% }else{%>
                                                    <span class=" " style="font-weight: 900;">
                                                        <%= el.status%>
                                                    </span>
                                               <% } %>
                                            </td>
                                            <% const formattedDate = myOrder.date.toLocaleString('en-US', {
                                                day: 'numeric',
                                                month: 'numeric',
                                                year: 'numeric'
                                               })%>
                                                <td>
                                                    <%= formattedDate%>
                                                </td>
                                                <td class="text-end">
                                                    <%if(el.status === 'delivered' || el.status === 'returned'){%>
                                                        <%if(el.returnRequest === 'requested'){%>
                                                            <button class="btn btn-primary">
                                                                Req Sended
                                                            </button>
                                                        <%}else if(el.returnRequest === 'accepted'){%>
                                                            <button class="btn btn-primary">
                                                                Returned
                                                            </button>
                                                        <%}else{%>
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-toggle="modal" data-bs-target="#returnProduct"
                                                                onclick="openReturnModal('<%= myOrder._id %>', '<%= el._id %>', '<%= i %>','<%= el.product %>','<%= el.productId._id %>')">
                                                                Return
                                                                <span class=""><i class="fa-solid fa-rotate-left fa-lg" style="color: #164088;"></i></span>
                                                            </button>
                                                        <%}%>
                                                    <%}else{%>
                                                        <%if( el.returnRequest !== 'requested' && el.returnRequest !== 'accepted' && el.status !== 'canceled'){%>
                                                        <button class="btn btn-danger" onclick="cancelOrder('<%= myOrder._id %>','<%= el._id %>','<%= el.product %>','<%= i %>','<%= el.productId._id %>')">Cancel</button>
                                                        <%}else if(el.returnRequest !== 'requested' && el.returnRequest !== 'accepted'){%>
                                                            <button class="btn btn-primary">
                                                                Canceled
                                                            </button>
                                                        <%}%>
                                                    <%}%>
                                                </td>
                                        </tr>
                                    <%})%>
                                        <tr>
                                            <td colspan="9" class="text-right-cell"><strong>Total Price:</strong></td>
                                            <td class="text-right-cell"><strong>₹<%= totalAmount %></strong></td> 
                                        </tr>
                                        <tr>
                                            <td colspan=12" class="text-right-cell">
                                                <% if (myOrder.status === 'pending') { %>
                                                    <button id="retryPaymentBtn" class="btn btn-primary">Retry Payment</button>
                                                <% } %>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
     </div>
       
    </div>
</div>

                <!-- product return -->
                <div class="modal fade" id="returnProduct" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div style="margin-left: 2rem;" id="cancelDetails" data-orderId=""
                                    data-index="" data-productId="" data-Pindex="" data-Pid="">
                                    <div class="container1">
                                        <h3>Product return request</h3>

                                        <p>Reason for your return</p>
                                        <textarea id="returnReason"
                                            placeholder="Write your return reason" required></textarea>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" id="return" class="btn btn-primary">Submit</button>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

<%- include('../layouts/user/footer1.ejs') -%>


<script>
    function cancelOrder(orderId, productId,index,Pindex,Pid) {
        console.log('Cancel Order:', { orderId, productId,index });
        const data = {
            orderId: orderId,
            productId: productId,
            index : index,
            Pindex : Pindex,
            Pid : Pid
        };

        fetch('/cancel-product', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then((response) => {
            console.log('Response Status:', response.status);

            if (response.ok) {
                return response.json();
            } else {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
        }).then((data) => {
            console.log('Response Data:', data);

            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    text: 'Product successfully canceled'
                }).then(() => {
                    window.location.reload()
                })
            } else {
                Swal.fire({
                    icon: 'error',
                    text: 'Failed to cancel product'
                });
            }
        }).catch((error) => {
            console.error('Error:', error);
        });
    }

</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Include jQuery before using it -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function openReturnModal(orderId, productId, index, Pindex, Pid) {
        // Set data attributes of the modal based on the clicked product
        $('#returnProduct').attr('data-orderId', orderId);
        $('#returnProduct').attr('data-productId', productId);
        $('#returnProduct').attr('data-index', index);
        $('#returnProduct').attr('data-Pindex', Pindex);
        $('#returnProduct').attr('data-Pid', Pid);
        
        // Show the modal
        $('#returnProduct').modal('show');
    }

    // You can call this function when the "Return" button is clicked
    document.getElementById('return').addEventListener('click', function() {

        const reason = document.getElementById('returnReason').value;

        if(reason)
        {
            // Retrieve data attributes from the modal
            const orderId = $('#returnProduct').attr('data-orderId');
            const productId = $('#returnProduct').attr('data-productId');
            const index = $('#returnProduct').attr('data-index');
            const Pindex = $('#returnProduct').attr('data-Pindex');
            const Pid = $('#returnProduct').attr('data-Pid');

            const data = 
            {
                orderId : orderId,
                productId : productId,
                index : index,
                Pindex : Pindex,
                Pid : Pid,
                returnReason : reason
            }

            $.ajax({
                type: "POST",
                url: "/return-product",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: (response) => {
                    if (response.return) {
                        console.log('return success')
                        window.location.reload();
                    }
                }
            })
        }
        
        $('#returnProduct').modal('hide');
    });
</script>


